<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>CS-GY 9223 | CUSP-GX 6004: Virtual and Augmented Reality, Fall 2022</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<link rel="stylesheet" href="styles/style.css">
<link rel="stylesheet" media="only screen and (max-width: 770px)" href="styles/tablet-and-phone.css">
<link rel="stylesheet" media="only screen and (max-width: 420px)" href="styles/phone.css">
<link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon">
{{!-- <link rel="canonical" href="https://davidrosenberg.github.io/ml2019"> --}}

<nav>
    <a href="#home">Home</a>
    <a href="#people">People</a>
    <a href="#about">About</a>
    <a href="#resources">Resources</a>
    <a href="#lectures">Lectures</a>
    <a href="#assignments">Assignments</a>
</nav>

<section id="home">
    <h1>
        Virtual and Augmented Reality
        <span class="course">
            CS-GY 9223 | CUSP-GX 6004 · Fall 2022 ·
            <a class="department">NYU Tandon School of Engineering</a>
        </span>
    </h1>

    <table id="course-info">
        <tr>
            <th>Instructor</th>
            <td>Qi Sun<a class="icon email" 
href="mailto:qisun@nyu.edu"></a></td>
        </tr>
        <tr>
            <th>Full Syllabus</th>
            <td>See <a href="https://docs.google.com/document/d/1GMxnXBmwki-aRPMAUqfG52qs_maci7ihA3Uw2y7Knyg/edit?usp=sharing">[HERE]</a> </td>
        </tr>
        <tr>
            <th>Lecture</th>
		        <td>Tuesday 2:00pm–4:30pm, Rogers Hall, Room 325</td>
        </tr>
        <tr>
            <th rowspan="3">Office Hours</th>
            <td>Instructor: TBD <a href="https://nyu.zoom.us/my/qisun">Zoom</a> and in-person (Rm1313, 370 Jay St.)</td>
        </tr>      
        <tr>
            <td>Course Assistant: TBD, <a href="https://goo.gl/VoxR4R">Zoom</a> </td>
        </tr>
    </table>

    {{> this-week thisWeek }}
</section>
<section id="about">
    <h1>About This Course</h1>

    <div class="module">
        <p>
        <p>We will use <a href="https://brightspace.nyu.edu/d2l/home/219102">Brightspace</a> for grade posting and announcement, and Albert for final grades.

        <!-- Without registering, you can also view an <a href="https://piazza.com/class/i2jg9qgaxwr5fq?cid=14">anonymized version of our Piazza board</a>.</p> -->

        <p>Other information:</p>
        <ul>
            <!-- -  <li>Course details can be found in the <a href="https://davidrosenberg.github.io/mlcourse/syllabusDS-GA1003-Spring2017.pdf">syllabus</a>.</li>   -->          
    	    <!--                 <li> Video recordings of lectures can be found at <a href="http://techtalks.tv/machine_learning_spring_2016/">http://techtalks.tv/machine_learning_spring_2016/</a>. -->
            <!--             <li>The <a href="https://www.google.com/calendar/embed?src=q5os9dtr9kebkkvv17lqtqj5qc%40group.calendar.google.com&ctz=America/New_York">Course Calendar</a> contains all class meeting dates.</li> -->
            <li>All course materials will be stored on a <a href="">GitHub repository (Link TBD)</a>. Check the repository to see when something was last updated.</li>
            {{!-- <li>For registration information, please contact <a href="mailto:kangeles@nyu.edu">Kathryn Angeles</a>.</li> --}}
            <li><em>The course conforms to <a href="http://www.nyu.edu/about/policies-guidelines-compliance/policies-and-guidelines/academic-integrity-for-students-at-nyu.html">NYU’s policy on academic integrity for students</a>.</em></li>
            <li><em> If you are a student with a disability who is requesting accommodations, please contact New York University's Moses Center for Students with Disabilities at 212-998-4980 or <a href="mailto:mosescsd@nyu.edu">mosescsd@nyu.edu</a>. You must be registered with CSD to receive accommodations. Information about the Moses Center can be found at www.nyu.edu/csd. The Moses Center is located at 726 Broadway on the 2nd floor. </li>
        </ul>
    </div>

    <section>
        <h1>Prerequisites</h1>
        <ul>
            <li><em>Required:</em> programming experience in C++ OR C#</li>
            <li><em>Required:</em> Linear algebra</li>
            <li><em>Recommended:</em> Real-time computer graphics</li>
        </ul>
    </section>

    <section>
        <h1>Grading</h1>
        <p><strong>Assignments (60%) + Written Article Report (10%) + Final Project (30%)</strong></p>
        <p>
            All assignments and final project shall be completed independently WITHOUT teamwork.
            You have three options for final projects, with free-form topic selections: (1) a research project, especially if you are a PhD student or pursuing MSc research; (2) reproduce a recent research article related to VR/AR; (3) develop a mobile-based system that creates "Superhuman Power in AR" that assists daily tasks such as cooking, assembling, etc.
            The written article shall be a 4-pager A4 document, which you shall 
            Individual grades will be posted on Brightspace, with the final score on Albert.
        </p>
    </section>

    <section>
        <h1>Important Dates</h1>
        <ul>
            <li><strong>Assignments</strong> .</li>
            <li><strong>Final presentation and article</strong> last lecture.</li>
            <li>See <a href="#assignments">Assignments</a> section for assignment-related deadlines.</li>
        </ul>
    </section>


</section>

<section id="resources">
    <h1>Resources</h1>

    <section id="textbooks">
        <h1>Textbooks</h1>

        <a href="https://www.amazon.com/Fundamentals-Computer-Graphics-Steve-Marschner/dp/1482229390"><img src="https://images-na.ssl-images-amazon.com/images/I/51aWjDt-yeL._SX218_BO1,204,203,200_QL40_FMwebp_.jpg" srcset="https://images-na.ssl-images-amazon.com/images/I/51aWjDt-yeL._SX218_BO1,204,203,200_QL40_FMwebp_.jpg" alt="Fundamentals of Computer Graphics"></a>

        <a href="http://lavalle.pl/vr/"><img src="images/AnnaCoverBlue2.jpg" srcset="images/AnnaCoverBlue2.jpg" alt="Virtual Reality"></a>
        <dl>
            <dt><a href="https://www.amazon.com/Fundamentals-Computer-Graphics-Steve-Marschner/dp/1482229390"><cite>Fundamentals of Computer Graphics</cite> (Steve Marschner and Peter Shirley)</a>
            <dd>

            <dt><a href="http://lavalle.pl/vr/"><cite>Virtual Reality</cite> (Steven M. LaValle.)</a>
            <dd>
        </dl>
    </section>

    <section id="references">
        <h1>Other tutorials and references</h1>
        <ul>
            <li><a href="http://kesen.realtimerendering.com/">Collection of real-time graphics and VR/AR articles</a>
            <li>Other publications including <a href="https://ieeevr.org/"> IEEE VR</a>, <a href="https://ismar2022.org/"> IEEE ISMAR</a>, <a href="https://chi2022.acm.org/"> ACM CHI</a>, and <a href="https://uist.acm.org/uist2022/"> ACM UIST</a>.
            <li>Plenty online Unity tutorials such as <a href="https://gamedevacademy.org/best-unity-tutorials/"> this one</a>
        </ul>
    </section>

    <section id="software">
        <h1>Unity</h1>
        <ul>
            <li><a href="https://unity.com/">Unity</a> is a popular modern real-time graphics engine. A variety of VR/AR hardware development is compatible with it.
            <li><a href="https://get.webgl.org/">WebGL</a> is a commonly leveraged tool for low-level real-time graphics on the web, without dedicated local graphics pipeline.
        </ul>
    </section>
</section>

<section id="lectures">
    <h1>Lectures</h1>

    {{> lectures lectures }}
</section>
<section id="assignments">
    <h1>Assignments</h1>

    <div class="policies">
        <p><strong>Late Policy:</strong> Assignment are due at {{assignmentsFrontmatter.[Due time]}} on the date specified.  Homeworks will still be accepted for 48 hours after this time but will have a 20% penalty.</p>

        <p><strong>Collaboration Policy:</strong> You may discuss problems with your classmates. However, you must write up the assignment code from scratch, without referring to notes from your joint session. No teamwork is allowed in this course. In your solution to each problem, you must write down the names of any person with whom you discussed, or any 3rd party references for the problem—this will not affect your grade.</p>

        <p><strong>Submission:</strong> Assignments, final project code/presentation video/article should be submitted through <a href="https://brightspace.nyu.edu/d2l/home">Brightspace</a>. At the beginning of the semester, you will be added to the Brightspace class roster. This will give you access to the course page, and the assignment submission form. To submit assignments, you will need to:</p>
        <ol>
            <li> Upload your code package and example results on Brightspace</li>
            <li> (Optionally) include a txt file for names and URLs of 3rd  </li>
        </ol>
        <p><strong>Assignment Feedback:</strong> Check Brightspace</a> to get your scores on each individual assignment. </a>.</p>
    </div>
    {{!-- {{> assignments assignments }} --}}
</section>

<section id="people">
    <h1>People</h1>

    <section class="multiple-people">
        <h1>Instructor</h1>

	<ul>
        <div class="person module instructor">
            <img src="https://qisun.me/img/photo_qisun.jpg" alt="A photo of Qi Sun">
            <div class="info">
                <p class="name"><a href="https://qisun.me/">Qi Sun</a></p>
                <p class="email"><a href="mailto:qisun@nyu.edu">qisun@nyu.edu</a></p>
            </div>
        </div>
	</ul>

    </section>

    <section>
        <h1>Course Assistant</h1>

	<ul>	
        <div class="person module instructor">
            <img src="https://www.immersivecomputinglab.org/wp-content/uploads/2022/04/zhang.jpeg" alt="A photo of Yunxiang">
            <div class="info">
                <p class="name"><a href="">Yunxiang Zhang</a></p>
		<p class="email"><a href="mailto:yunxiang.zhang@nyu.edu">yunxiang.zhang@nyu.edu</a></p>
                <!--<p class="bio">Sreyas is a second year PhD student in the Data Science Program at CDS working with Prof. Carlos Fernandez-Granda and Prof. Eero Simoncelli.  </p>-->
            </div>
        </div>
	</ul>
    </section>

</section>

<!--
<footer>
    <p>This website is developed <a href="https://github.com/davidrosenberg/ml2019/">on GitHub</a>; feel free to <a href="https://github.com/davidrosenberg/ml2019/issues">report issues or send feature requests</a>.</p>
</footer>
-->

<script async defer src="scripts/navigation.js"></script>

{{!-- <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64247420-3', 'auto');
    ga('send', 'pageview');

</script> --}}
